.text-link {
    border-bottom: 1px solid #fff;
    font-size: 17px;
    line-height: 25px;
    color: #818181;
    font-weight: 700;
}

.text-link1 {
    color: #1a1a1a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 800;
}