.footer {
  background-image: url(../Assets/image/footer.jpg);
  min-height: 400px;
  background-position: bottom;
  color: #d3d3d3;
  font-weight: 500;
  margin-top: 80px;
}
.logo-footer {
  height: 26px;
}

/* resonsive footer */

@media (max-width: 576px) {
  .footer-content {
    justify-content: center;
  }
}
