.tab-info {
  font-style: normal;
  font-size: 25px;
  line-height: 33px;
  color: #6d6d6d;
  font-weight: 800;
}

.header-cart {
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.text-header-cart {
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 0;
}

.text-header-cart1 {
  display: none;
}

.tab-info {
  font-style: normal;
  font-size: 25px;
  line-height: 33px;
  color: #6d6d6d;
  font-weight: 800;
}

.text-list-product {
  font-size: 20px;
  color: #6d6d6d;
  line-height: 30px;
  font-weight: 700;
}

.cart-details {
  height: auto;
  box-shadow: 11px 10px 38px 0 rgb(46 63 99 / 10%);
  border-radius: 10px;
}

.display-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-money {
  font-size: 20px;
  color: #e43711;
  line-height: 30px;
  font-weight: 700;
}

.cart-size {
  font-size: 20px;
  color: #6d6d6d;
  line-height: 30px;
  font-weight: 700;
}

.inputCart {
  width: 30px !important;
  color: #6d6d6d;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}

.sub-out-product1 {
  width: 250px;
  height: 50px;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.text-total {
  font-size: 20px;
  color: #6d6d6d;
  line-height: 30px;
  font-weight: 700;
}

.text-info-sale {
  font-size: 15px;
  color: #6d6d6d;
  word-spacing: 5px;
  font-weight: 400;
}

.form-sale {
  width: 100%;
}

.text-header-sale {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #707070;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.money-tam {
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #6d6d6d;
}

.money-info {
  font-size: 20px;
  color: #e43711;
  line-height: 25px;
  font-weight: 700;
}

.btn-sale {
  top: 0;
  right: 0;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 120px;
  height: 50px;
  background-color: rgb(235, 65, 50);
}

.tamtinh input {
  width: 300px;
  height: 50px;
  border: 1px solid #ececec;
  outline: none;
  border-radius: 50px;
  padding: 15px;
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #6d6d6d;
}

.close-cart {
  font-size: 24px;
}

@media (max-width: 768px) {
  .header-cart {
    display: none;
  }

  .text-header-cart1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }

  .display-option {
    justify-content: space-between;
    margin-top: 8px !important;
  }

  .note-total {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .total-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .money-tam {
    color: #000;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }

  .tamtinh input {
    width: 200px;
    height: 40px;
    font-size: 14px;
    margin-left: 10px;
  }

  .btn-sale {
    height: 40px;
  }

  .primary-btn {
    width: 90px;
    font-size: 10px;
    font-weight: 700;
  }
}

/* mini cart */
.avtive-mini-cart {
  display: block;
}

.mini-cart {
  display: none;
  min-height: 200px;
  /* max-height: 400px; */
  position: absolute;
  background-color: #fff;
  right: -20px;
  top: 60px;
  min-width: 300px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px -6px #333;
}

.mini-cart::after {
  content: "";
  position: absolute;
  border-width: 20px 100px;
  border-style: solid;
  border-color: transparent;
  right: 16px;
  top: -36px;
}

.mini-cart::before {
  content: "";
  position: absolute;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 16px;
  top: -36px;
}

.mini-cart-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.mini-cart-item-content button {
  border: none;
  padding: 0 4px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 12px;
}

.mini-cart-item-name {
  font-weight: 500;
}

.mini-cart-item-price {
  color: var(--secondary-color);
}

.mini-cart-item-image img {
  height: 100px;
}

.mini-cart-item-quantity {
  padding: 0 12px;
}

@media (min-width: 768px) and (max-width: 1180px) {
  .text-header-cart {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    font-weight: 800;
    margin-bottom: 0;
  }

  .text-list-product {
    font-size: 11px;
  }
}
