.primary-btn {
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
}

.secondary-btn {
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  font-weight: 500;
}

.primary-btn:hover,
.secondary-btn:hover {
  scale: 1.05;
  transition: 0.3s linear;
}

.big {
  padding: 14px 40px;
}

.small {
  padding: 4px 8px;
}

.rounded-btn-1 {
  border-radius: 10px;
}

.rounded-btn-2 {
  border-radius: 20px;
}
.rounded-btn-3 {
  border-radius: 30px;
}
