/* mobile menu list */

.mobile-menu-list {
  width: 350px;
  background-color: wheat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.2s linear;
  background: linear-gradient(to bottom right, #aacaef 0%, #fde7f9 100%);
  box-shadow: 6px 0 6px -6px #333333;
}

.show-mobile-menu-list {
  transform: translateX(0);
  transition: all 0.2s linear;
}

.mobile-menu-main {
  width: 100%;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu-header {
  padding-bottom: 20px;
  text-align: center;
  color: var(--secondary-color);
  text-decoration: underline;
}

.mobile-menu-content {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  padding-left: 80px;
}

.mobile-menu-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--white-color);
}

.mobile-menu-search {
  height: 40px;
  padding: 4px;
  background-color: var(--white-color);
  border-radius: 4px;
}
.mobile-menu-search input {
  height: 100%;
  border: 1px solid var(--secondary-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 10px;
}

.mobile-menu-search button {
  height: 100%;
  border: 1px solid var(--secondary-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 10px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.mobile-menu-signin {
  margin-top: 20px;
  display: flex;
}

.mobile-menu-signin p:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
