/* Favorite List */
.favorite-list {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transform: translateX(100%);
  transition: all 0.2s linear;
  z-index: 20;
}

.show-favorite-list {
  transform: translateX(0);
  transition: all 0.2s linear;
}

.favorite-list img {
  width: 80px;
}
