/* product details */
.product-detail-content {
  border-radius: 6px;

  background-color: var(--white-color);
}

.product-detail-image {
  border-right: 1px solid rgb(242, 242, 242);
  padding: 16px;
  margin-left: 16px;
}

.product-detail-image .image-display {
  margin-right: 16px;
}

.product-detail-image .image-display img {
  min-height: 516px;
  object-fit: contain;
}

.product-detail-image .image-select {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-detail-image .image-select img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  padding: 4px;
  margin-right: 16px;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 4px;
  cursor: pointer;
}

.image-select img.active-select {
  border: 1px solid var(--secondary-color);
}

.product-detail-info {
  padding: 12px;
  margin-right: 12px;
}

.product-detail-name {
  color: var(--secondary-color);
}

.product-detail-price {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 4px;
  background-color: rgb(242, 242, 242);
}

.detail-price-current {
  padding-left: 12px;
  color: var(--secondary-color);
}

/* quantity form */
.product-quantity-form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(242, 242, 242);
}

.quantity-input-group {
  height: 30px;
  display: flex;
  align-items: center;
}

.quantity-input-group button {
  height: 100%;
  padding: 4px;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  text-align: center;
  outline: none;
}

.quantity-input-group button:hover {
  background-color: #ccc;
}

.product-quantity-value {
  height: 100%;
  width: 40px;
  padding: 4px;
  border: 1px solid rgb(236, 236, 236);
  text-align: center;
  outline: none;
  border-right: none;
  border-left: none;
}

.quantity-submit-btn {
  max-width: 200px;
}

/* responsive */

@media (max-width: 991px) {
  .product-detail-info {
    margin-left: 12px;
  }
}
