body,
html {
  height: 100%;
}

.App {
  height: 100%;
  background-color: rgb(245, 245, 245);
  /* background: linear-gradient(to bottom right, #aacaef 0%, #fde7f9 100%); */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px !important;
  height: 60px !important;
}
