*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
ul {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

:root {
  --primary-color: #4b4b4b;
  --secondary-color: #f0482d;
  --black-color: black;
  --white-color: white;
  --bg-color: rgb(245, 245, 245);
}

body {
  color: var(--primary-color);
  line-height: 1.5;
}

a:hover {
  color: var(--secondary-color);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
