/* product card */

.product-main {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 5px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
}

/* Ribbon sale */
.product-card {
  position: relative;
  color: var(--white-color);
}

.product-ribbon:nth-child(even) {
  margin-right: 4%;
}

.product-ribbon-wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}
.product-ribbon-wrap:before,
.product-ribbon-wrap:after {
  content: "";
  position: absolute;
}
.product-ribbon-wrap:before {
  width: 30px;
  height: 8px;
  right: 67px;
  background: #aa3320;
}
.product-ribbon-wrap:after {
  width: 8px;
  height: 30px;
  right: 0px;
  top: 67px;
  background: #aa3320;
}
.product-ribbon-sale {
  width: 200px;
  position: absolute;
  top: 25px;
  right: -60px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px var(--secondary-color), 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: var(--secondary-color);
  text-align: center;
}

.product-brand {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 500;
}

.product-name {
  font-size: 20px;
  color: var(--black-color);
  font-weight: 700;
}

.product-img {
  width: 100%;
  min-height: 220px;
  position: relative;
}

.product-img img {
  position: absolute;
  width: 125%;
  left: -12%;
  top: 8%;
  z-index: 3;
}

.product-quick-view {
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  display: none;
  border: 1px solid var(--secondary-color);
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 10px;
  z-index: 10;
}

.product-img:hover .product-quick-view {
  transform: translateY(-20%);
  display: block;
}

.product-main:hover {
  scale: 1.05;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.product-like {
  height: 50px;
  padding: 0 2px;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: #ccc;
  cursor: pointer;
}

.product-like:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.product-price {
  text-decoration: line-through;
  color: var(--primary-color);
}

.product-price-sale {
  color: var(--secondary-color);
  font-weight: 500;
}

.product-list {
  padding: 0 8px;
}
