/* products page */
.product-content {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
}
.product-sidebar {
  width: 220px;
  margin-right: 8px;
  background-color: var(--white-color);
}

.sidebar-heading {
  font-weight: 600;
}

.sidebar-category-item,
.sidebar-brand-item {
  padding-bottom: 12px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  background: none;
  color: var(--text-color);
  display: block;
}

.sidebar-category-item:hover,
.sidebar-brand-item:hover {
  color: var(--secondary-color);
}

.sidebar-product-category {
  border-bottom: 1px solid rgb(235, 235, 240);
}

.list-product-main {
  width: 100%;
  background-color: white;
}

.product-sorter {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-pagination {
}

.paging-limit {
  width: 30%;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.paging-limit select {
  padding: 4px 8px;
  margin-left: 8px;
}

.paging-limit label {
}

/* responsive */

@media (max-width: 992px) {
  .product-content {
    display: flex;
    flex-direction: column;
  }
  .sidebar-product-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-product-category button {
    padding-bottom: 0;
  }
  .sidebar-product-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .sidebar-product-brand button,
  .sidebar-product-brand p {
    padding-bottom: 0;
  }
  .product-sidebar {
    width: 100%;
  }
}
